body {
    background: #000;
    color: #fff;
}

.about-intro {
    padding: 80px 10%;
    text-align: center;
}

.about-intro p {
    color: #ccc;
}

.our-team-title {
    text-align: center;
    font-size: 36px;
    margin: 60px 0 40px;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 80px;
}

.team-card {
    width: 260px;
    background: #2b2b2b;
    border-radius: 20px;
    text-decoration: none;
    overflow: hidden;
}

.team-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.team-info {
    padding: 15px;
}

.team-info h3 {
    color: #fff;
}

.team-info p {
    color: #ccc;
}

.feedback-section {
    background: #111;
    padding: 80px 10%;
    text-align: center;
}

.feedback-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feedback-form input,
.feedback-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.feedback-form button {
    padding: 12px;
    font-weight: bold;
}





